body {
	background: #232323;
	margin: 0;
	font-family: "Roboto";
}

#container {
	max-width: 600px;
	margin: 0 auto;
	margin-top: 40px;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background-color, .5s;
}

h1 {
	color: white;
	text-align: center;
	line-height: 1.1;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
	transition: background-color, .5s;
}

#colorDisplay {
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

.selected {
	background-color: steelblue;
	color: white;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: bold;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: .5s;
}

button:hover {
	background-color: steelblue;
	color: white;
}