/*Font Family*/
p {
	font-family: Arial;
}

h1 {
	font-family: 'Barrio';
}

h2 {
	font-family: 'Freckle Face';
}

/*Font Size*/
body {
	font-size: 10px;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 3em;
}

p {
	font-size: 2em;
}

span {
	font-size: 2em;
}

/*Font Weight*/
p {
	font-weight: bold;
}

/*Line Height*/
p {
	line-height: 1.5;
}

/*Text Align*/
h1 {
	text-align: center;
}

/*Text Decoration*/
span {
	text-decoration: underline;
}